<div class="profile">
  <%= gravatar_for(@user) %>
  <div class="info">
    <h1>Username: <%= @user.username %></h1>
    <h1>Email: <%= @user.email %></h1>
    <%= link_to  "Update your information", edit_user_path(@user) %>
  </div>
</div>