<header>
  <div class="logo-wrapper">
    <%= link_to image_tag 'logo.svg' %>
  </div>
  <nav>
    <ul>
      <li><%= link_to 'Home', "#" %></li>
      <li><%= link_to 'Gossip', "#"%></li>
      <li><%= link_to 'signup', signup_path, class: 'login' %></li>
    </ul>
  </nav>
</header>
